/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


/* Options Page */

.options-body {
  padding: 30px;
  background: #5B8CE5;
}

.options-title {
  font-size: 48px;
  font-weight: bolder;
  color: #1A3A76;
  width: 100%;
  text-align: center;
}

.options-item {
  margin: 20px 0;
  padding: 10px;
  background: #FF9D55;
  border: 2px solid #FF842A;
  border-radius: 5px;
}

.options-header {
  font-size: 34px;
  font-family: serif;
  margin-bottom: 20px 0;
  color: #1A3A76;
}

.options-description {
  font-size: 14px;
  font-family: sans-serif;
  padding: 10px 0;
  color: #E8F0FF;
}

/* site form */

.site-label {
  color: #1A3A76;
  font-size: 18px;
  font-family: serif;
  font-weight: bold;
}

.sites-textbox {
  box-sizing: border-box;
  height: 32px;
  width: 100%;
  font-size: 24px;
  background: #CAEBF2;
  border: 2px solid #E8F0FF;
  border-radius: 5px;
  padding: 0px 5px;
}

.button-hidden {
  display: none;
}

/* site list */
.sites-list {
  box-sizing: border-box;
  background: #CAEBF2;
  font-size: 18px;
  font-family: sans-serif;
  margin: 15px 0;
  width: 100%;
  padding: 10px 5px;
  border: 2px solid #E8F0FF;
  border-radius: 5px;
}

.sites-list-item {
  margin-top: 5px;
  font-family: sans-serif;
  font-weight: normal;
  color: #1A3A76;
}

.delete-button {
  float: right;
  background: #B13018;
  color: white;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 3px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-button:hover {
  background: #FF4B2A;
}

.delete-button:active {
  background: #FF9F8D;
}

/* Dropdowns */
.options-dropdown {
  background: #CAEBF2;
  color: #1A3A76;
  font-family: sans-serif;
  font-size: 24px;
  border-radius: 5px;
  color:
}

/* save options */
.options-save {
  width: 40%;
  margin: 20px auto;
  padding: 10px;
  background: #FF9D55;
  border: 2px solid #FF842A;
  border-radius: 5px;
}

.save-text {
  color: #1A3A76;
  font-family: serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.saved {
  color: #409915;
}

.unsaved {
  color: #B13018;
}

.save-button {
  font-family: serif;
  font-size: 18px;
  color: #E8F0FF;
  background: #B15918;
  padding: 10px 5px;
  border-radius: 10px;
  width: 200px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.save-button:hover {
  background: #E8F0FF;
  color: #B15918;
}

.save-button:active {
  background: #FFBD8D;
}
